.calendar {
    padding: 10px;
    max-width: 1140px;
    height: calc(100vh - 20px);
}

.calendar-header {
    height: $calendar-header-height;
    border: solid 2px $border-calendar-color;
    border-bottom-width: 1px;

    .month {
        position: relative;
        height: $calendar-header-name-height;

        .month-btn {
            position: absolute;
            top: 50%;

            padding: 0.5em 1.2em;
            font-size: 12px;
            font-family: "Brush Script MT", cursive;
            text-transform: uppercase;
            background-color: transparent;
            border: solid 1px black;
            border-radius: 20px;
            transform: translateY(-50%);
            cursor: pointer;

            &.next-month {
                right: 20px;
            }

            &.prev-month {
                left: 20px;
            }
        }
    }

    .title {
        margin: 0;
        line-height: 2em;
        text-align: center;
        border-bottom: solid 2px black;
    }

    .week-days {
        @include calendar-flex;
        height: $calendar-header-days-height;
        align-items: center;
        text-align: center;

        > p {
            margin: 0;
            line-height: 100%;
        }
    }
}

.calendar-body {
    @include calendar-flex;
    border: solid 1px $border-calendar-color;
    border-top: none;
    height: calc(100% - #{$calendar-header-height});

    .day {
        position: relative;
        width: $day-box-width;
        height: 20%;
        padding: 40px 10px 10px;
        border: solid 1px $border-calendar-color;
        box-sizing: border-box;

        &.last-month {
            background-color: $c-light-grey;
        }

        .number {
            position: absolute;
            top: 5px;
            left: 5px;
            margin: 0;
        }

        .add {
            position: absolute;
            right: 5px;
            top: 5px;
            height: $day-box-add-btn-size;
            width: $day-box-add-btn-size;
            padding: 0;
            text-align: center;
            background-color: transparent;
            border: solid 1px black;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .activities-list {
        padding-left: 0;

        .activity-item {
            display: flex;
            justify-content: space-between;
        }
    }
}