$c-blue: blue;
$c-light-grey: #f3f0eb;

$day-box-width: 100%/7;
$day-box-height: 180px;
$day-box-add-btn-size: 25px;

$border-calendar-color: black;

$calendar-header-name-height: 50px;
$calendar-header-days-height: 52px;
$calendar-header-height: $calendar-header-name-height + $calendar-header-days-height;

$modal-cross-position-size: 30px;